<!-- footer -->
<footer class="bg-gray-200 py-8">
    <div class="container">
        <div class="flex flex-wrap md:gap-4 lg:gap-0 py-4 mb-6">
            <div class="w-full md:w-full lg:w-1/3 flex flex-col gap-4 mb-6">
                <h6>Tất cả danh mục</h6>
                <div class="flex flex-wrap">
                    <div class="w-1/2">
                        <!-- list -->
                        <ul class="flex flex-col gap-2">
                            
                                <li><a href="/categories/process-control-lps-4-20ma" class="product-link">Kiểm Soát Quy Trình 'LPS 4-20mA</a></li>

                                <li><a href="/categories/industrial-accelerometers" class="product-link">Cảm biến Gia tốc Công nghiệp</a></li>

                                <li><a href="/categories/enclosures" class="product-link">Vỏ Bảo Vệ Công Nghiệp</a></li>

                                <li><a href="/categories/vibration-systems-switches" class="product-link">Hệ thống và Công tắc Đo Lường Rung</a></li>

                                <li><a href="/categories/vibration-meter-kits" class="product-link">Bộ Thiết Bị Đo Rung</a></li>

                                <li><a href="/categories/cables-connectors" class="product-link">Dây Cáp & Kết Nối</a></li>

                                <li><a href="/categories/mounting" class="product-link">Cách Lắp Đặt Cảm Biến Rung</a></li>

                                <li><a href="/categories/installation-products" class="product-link">Sản phẩm Lắp đặt</a></li>

                        </ul>
                    </div>
                    <div class="w-1/2">
                        <!-- list -->
                        <ul class="flex flex-col gap-2">
                            
                            <li><a href="/products/hs-421i-intrinsically-safe-accelerometer-5" class="product-link">HS-421I – Top Exit – Integral PUR Cable Dual Output Intrinsically Safe Accelerometer</a></li>

                            <li><a href="/products/hs-200-series-temp-output-only-2-pin-ms-with-pt100-temperature-sensor-industrial-accelerometer" class="product-link">HS-200 Temperature Sensor</a></li>

                            <li><a href="/products/hs-sessmmo-switching-enclosure" class="product-link">HS- SESSMMO Switching Enclosure</a></li>

                            <li><a href="/products/hs-550-vibration-module" class="product-link">HS-550 Vibration Module</a></li>

                            <li><a href="/products/hs-620-compact-and-portable-meter" class="product-link">HS-620 Compact and Portable Meter</a></li>

                            <li><a href="/products/hs-ac-cables" class="product-link">2 Pin MS Overmoulded Connector</a></li>

                            <li><a href="/products/hs-am-magnets-flat-face" class="product-link">HS-AM Magnets – Flat Face</a></li>

                            <li><a href="/products/hs-660-accelerometer-cable-bias-checker" class="product-link">HS-660 Accelerometer Cable & Bias Checker</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-full lg:w-2/3">
                <div class="flex flex-wrap">
                    <div class="w-1 sm:w-1 md:w-1/2 flex flex-col gap-4 mb-6">
                        <h6>Về chúng tôi</h6>
                        <!-- list -->
                        <div class="footer__col footer__about">
                            <!-- <a href="/" class="navbar-brand d-flex align-items-center mb-3">
                                <img src="/assets/images/logo/logo.svg" alt="Markal Việt Nam Logo" class="logo"
                                    style="max-height: 40px;">
                            </a> -->

                            <p class="footer__desc">
                                Fast Group Engineering là đơn vị phân phối chính hãng các giải pháp
                                đánh dấu công nghiệp từ Markal, Laco và Tempil tại Việt Nam.
                            </p>

                            <p class="footer__contact">
                                📍 Địa chỉ: TP. Hồ Chí Minh, Việt Nam <br>
                                📞 Hotline: (+84) 938 888 958 <br>
                                📧 Email: sales@markal.com.vn
                            </p>

                            <ul class="flex flex-col gap-2">
                                <!-- list -->
                                <li><a href="/contact.html">Liên hệ</a></li>
                                <li><a href="#">Tư vấn kỹ thuật</a></li>
                                <li><a href="#">Tải catalog</a></li>
                                <li><a href="#">Chính sách bảo hành</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-1 sm:w-1 md:w-1/2 flex flex-col gap-4">
                        <h6>Ứng dụng công nghiệp</h6>
                        <ul class="flex flex-col gap-2">
                            
                                <li><a href="/industries/metals-industry" class="product-link"> Ngành Công Nghiệp Kim Loại</a></li>

                                <li><a href="/industries/cement-industry" class="product-link"> Giải Pháp Giám Sát Rung Động Trong Ngành Xi Măng</a></li>

                                <li><a href="/industries/marine-industry" class="product-link"> Cảm Biến và Giám Sát Rung Biển</a></li>

                                <li><a href="/industries/paper-pulp-industry" class="product-link"> Tăng Cường Hiệu Suất và Độ Tin Cậy Ngành Giấy và Bột Giấy Qua Giám Sát Rung</a></li>

                                <li><a href="/industries/mining-and-quarrying-industry" class="product-link"> Cảm Biến Rung và Giám Sát Trong Ngành Khai Thác Mỏ</a></li>

                                <li><a href="/industries/wind-industry" class="product-link"> Cảm Biến & Giám Sát Rung Turbine Gió</a></li>

                                <li><a href="/industries/food-and-drink-processing" class="product-link"> Cảm Biến & Giám Sát Rung Trong Sản Xuất Thực Phẩm & Đồ Uống</a></li>

                                <li><a href="/industries/pharmaceutical-industry" class="product-link"> Cảm Biến Rung Trong Ngành Dược Phẩm</a></li>

                                <li><a href="/industries/rail-industry" class="product-link"> Cảm Biến Rung Trong Vận Hành Đường Sắt</a></li>

                                <li><a href="/industries/oil-gas-industry" class="product-link"> Cảm Biến Rung Dầu Khí</a></li>

                                <li><a href="/industries/power-industry" class="product-link"> Cảm Biến Rung Ngành Điện Năng</a></li>

                                <li><a href="/industries/other-industries" class="product-link"> "Các Ngành Công Nghiệp Khác"</a></li>

                            <!-- list -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-t py-4 border-gray-300">
            <div class="gap-y-4 flex flex-wrap items-center justify-center lg:justify-start">
                <div class="lg:w-2/5 lg:text-left text-center">
                    <div class="flex md:flex-row flex-col gap-3 md:gap-6 items-center">
                        <div class="text-gray-900">Payment Partners</div>
                        <ul class="flex items-center flex-row gap-4">
                            <li>
                                <a href="#!"><img src="/assets/images/payment/amazonpay.svg" alt="amazon pay" /></a>
                            </li>
                            <li>
                                <a href="#!"><img src="/assets/images/payment/american-express.svg"
                                        alt="american express" /></a>
                            </li>
                            <li>
                                <a href="#!"><img src="/assets/images/payment//mastercard.svg" alt="mastercard" /></a>
                            </li>
                            <li>
                                <a href="#!"><img src="/assets/images/payment/paypal.svg" alt="paypal" /></a>
                            </li>
                            <li>
                                <a href="#!"><img src="/assets/images/payment/visa.svg" alt="visa" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-t py-4 border-gray-300">
            <div class="flex flex-col md:flex-row items-center gap-3">
                <div class="w-full">
                    <span class="text-sm text-gray-500">
                        ©
                        <span id="copyright">
                            <script>
                                document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()));
                            </script>
                        </span>
                        Hansford Sensors Việt Nam. FAST GROUP ENGINEERING.
                    </span>
                </div>
                <div class="md:w-1/2 flex md:justify-end items-center">
                    <div class="flex flex-row gap-5 items-center">
                        <div class="text-gray-500">Follow us on</div>
                        <ul class="flex items-center justify-end text-sm gap-1">
                            <li>
                                <a href="#!"
                                    class="inline-flex justify-center items-center align-middle text-center select-none border font-normal whitespace-no-wrap rounded leading-normal no-underline h-8 w-8 border-gray-300 hover:border-green-600 hover:text-blue-600 transition ease-in-out">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-brand-facebook" width="16" height="16"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#!"
                                    class="inline-flex justify-center items-center align-middle text-center select-none border font-normal whitespace-no-wrap rounded leading-normal no-underline h-8 w-8 border-gray-300 hover:border-green-600 hover:text-blue-600 transition ease-in-out">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x"
                                        width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                                        <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#!"
                                    class="inline-flex justify-center items-center align-middle text-center select-none border font-normal whitespace-no-wrap rounded leading-normal no-underline h-8 w-8 border-gray-300 hover:border-green-600 hover:text-blue-600 transition ease-in-out">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-brand-instagram" width="16" height="16"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                                        <path d="M16.5 7.5l0 .01" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>